*{
    box-sizing: border-box;
}
body{
    background: white;
}
.row:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row{ 
    display: inline-block; 
}
* html .row{
    height: 1%; 
}
.row{ 
    display: block; 
}
.menu{
    margin-top: 17px;
}
header{
    width: 100%;
}
.inner-header{
    width: 100%;
    background: #1f1e22;
    height: 130px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
}
.up-header{
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.dws-menu>ul{
    display: flex;
    padding-left: 0;
    justify-content: flex-start;
}
.dws-menu,
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu> ul li a{
    display: block;
    padding: 10px 30px 15px 30px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s ease;
    margin-top: 4px;
}
.dws-menu> ul li a[class="droped"]{
    color: #000000;
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
}
.dws-menu>ul li,.log>ul li{
    position: relative;
}
.dws-menu li a:hover,.pref-menu li a:hover{
    color: #7e766d;
    border: none;
    border-radius: 3px 3px 3px 3px;
}

.dws-menu li a[class="droped"]:hover{
    background: #b7b7b7;
    border: none;
    border-radius: 0 0 0 0;
}
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    padding: 0;
    background: white;
    display: none;
    box-shadow: 0 0 5px #6f6f6f;
}
.dws-menu li:hover >ul{
    display: block;
}
.logo{
    width: 200px;
    height: 75px;
}
.pref-menu,
.pref-menu ul,
.pref-menu ol{
    list-style: none;
}
.pref-menu> ul,.log> ul{
    display: flex;
    padding-left: 0;
}
.pref-menu> ul li a{
    display: block;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    color: #ECF7F7;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.1s ease;
    margin-top: 4px;
}
.search{
    float: left;
    width: 500px;
    padding-top: 15px;
}
.search>input{
    position: relative;
    display: inline-block;
}
.search>input[type="text"]{
    background: #ECF7F7;
    width: 80%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 7px 0 0 7px;
    font-size: 14px;
}

.search>input[type="submit"]{
    position: relative;
    background: #ff981f;
    height: 45px;
    left: -5px;
    width: 19%;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    font-size: 14px;
}
.search>input[type="submit"]:hover{
    background: #6f6f6f;
    transition: all .3s ease;
}
.content{
    width: 70%;
    float: left;
}
.inner-content{
    min-height: 500px;
    padding: 25px;
}
.books{
    display: flex;
    flex-wrap: wrap;
}
.book-form{
    height: 315px;
    width: 170px;
    padding: 10px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}
.book-form>input[type="submit"]{
    background: #ff981f;
    height: 25px;
    left: -5px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 14px;
}
.book-form>input[type="submit"]:hover{
    background: #6f6f6f;
    transition: all 0.3s ease;
}
.blocImg{
    width:  85%;
    height: 67%;
    overflow: hidden;
    border: none;
    border-radius: 3px 3px 3px 3px;
    background: #000;
}
.blocImg img{
    width: 100%;
    transition: .2s;
}
.book-form:hover .blocImg img{
    opacity: 0.95;
    transform: scale(1.01)
}
.book-form:hover .blocText a{
    text-decoration: underline;
}
.blocText a{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.sidebar{
    width: 30%;
    float: left;
    padding-left: 10px;
}
.inner-sidebar{
    min-height: 500px;
}
footer{
    margin-top: 10px;
}
.inner-footer{
    background: #1a191d;
    height: 200px;
}
.registr {
    height: 400px;  
    width: 650px;
    border: none;
    background: white;
    border-radius: 7px 7px 7px 7px;
    top: 20%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px; 
    margin: 0 auto;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
}
.registr>form{
    width: 50%;
    padding: 15px;
    padding-top: 25px;
}
.textblock{
    font-size: 25px;
}
.registr>form>input[type="text"],input[type="password"],input[type="email"]{
    width: 100%;
    height: 45px;
    background: white;
    border: solid 1px #9d9d9d;
    border-radius: 7px 7px 7px 7px;
    padding: 0 15px;
    outline: none;
    font-size: 14px;
}
.registr>form>input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus{
    border: solid 1px #2f2f2f;
}
.registr>form>a{
        color: #6f6f6f;

}
.registr>form>input[type="submit"]{
    position: relative;
    background: #ff981f;
    margin-left: 34%;
    height: 30px;
    width: 80px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
    font-size: 14px;
}
.registr>form>input[type="submit"]:hover{
    background: #6f6f6f;
    transition: all .3s ease;
}
.registr>form{
    font-size: 16px;
    line-height: 20px;
    color: #272727;
    
}
.lin{
    text-align: center;
    padding-bottom: 10px;
}
.lin>a{color: #6f6f6f;}
#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.8; /*прозрачность*/
    left:0;
    top:0;
}
.content-texts{
    padding-left: 10px;
    padding-right: 20px;
    font-size: 30px;
}
.regImg{
    width:  50%;
    border: none;
    border-radius: 0 7px 7px 0;
    background: #000;
}
.regImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 0 7px 7px 0;
    object-position: 0 0;
    
}